$DefaultFontColor: #f4e2e9;
$DefaultSiteBgColor: black;

// Title
$TitleGradientTop: #008FE0;
$TitleGradientBottom: #D63333;

// Quote (home page)
$QuoteTextColor: #b7737c;
$QuoteAuthorTextColor: #5d6e8f;

// Article component
$ArticleTitleFontFamily: 'Trade Winds', sans-serif;
$ArticleTitleColor: #ba3434;

// Tales Listing Page
$homeMenuItemBgColor: hsl(243, 54%, 19%);
$homeMenuItemBgColorHover: hsl(243, 54%, 29%);

// Story Page
$storyPageHeaderBgColor: hsl(338, 51%, 15%);
$storyPageHeaderBgColorHover: hsl(338, 51%, 35%);
$literatureNavHeaderTitleColor: hsl(338, 51%, 35%);
$literatureNavHeaderTitleColorHover: hsl(243, 54%, 48%);


$navigationHeightOffset: 80px;

:export {
	storyPageHeaderBgColorHover: $storyPageHeaderBgColorHover;
}