$DefaultFontColor: #f4e2e9;
$DefaultSiteBgColor: #0a0a0a;

// Title
$TitleGradientTop: #008FE0;
$TitleGradientBottom: #D63333;

// Quote (home page)
$QuoteTextColor: #b7737c;
$QuoteAuthorTextColor: #5d6e8f;

// Article component
$ArticleTitleFontFamily: 'Trade Winds', sans-serif;
$ArticleTitleColor: #ba3434;