@import '/app/styles/variables.module.scss';

$titleUrl: "the_juice";
$imageBaseUrl: "/images/" + $titleUrl;
$navigationHeightOffset: 80px;

.pageContainer {
	// width: 100%;
	width: 100svw;
	max-width: 100svw;
}

// NAVIGATION
.navigation {
	// border: 3px dashed cyan;
	position: fixed;
	border-bottom: 2px solid rgb(51, 51, 51);
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 999;
	top: 0;
	left: 0;
	height: $navigationHeightOffset;
	width: 100%;
	background-color: black;
}

.navStoryTitle {
	padding-right: 0.6em !important;
	cursor: default;

	&:hover {
		color: #e67f19 !important;
		transition: color 0.3s ease-in-out;
		cursor: pointer;
	}
}

.linkToTales {
	margin-left: 0.5em;
	font-size: 1rem;
	background-color: rgb(20, 33, 49);
	padding:  0.3em 0.5em;
	border-radius: 6px;
}

.beginButtonWrapper {
	// border: 4px solid cyan;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 2em;
}

.header {
	background-color: $storyPageHeaderBgColor;
	padding: 3em 1.5em;
	position: relative;
	top: $navigationHeightOffset;
}

.title {
	font-size: 2rem;
	text-align: center;
}

.storyContainer {
	// border: 3px dotted white;
	width: 100%;
	padding: 1.5em;
	position: relative;
	top: $navigationHeightOffset;
}

.typewriterCursor {
	visibility: hidden;
}

.typewriterWrapper {
	font-family: 'Comic Sans MS', sans-serif;
	font-size: 1.5rem;
}

.newStanzaWrapper {
	// border: 3px dashed orange;
	max-width: 1280px;
	margin: 0 auto;
}

.stanzaImageWrapper {
	background-size: cover;
	background-position: center;
	opacity: 0;
	width: 100%;
	height: 60svh;
	margin: 0 auto;
	border-radius: 20px;
}

.stanza {
	// border: 3px dashed red;
	float: left;
	transform: translateY(calc(-100% -  1px));
	background-color: rgba(0,0,0,0.75);
	opacity: 0;
	width: 100%;
	padding-bottom: 1em;
	margin: 0 auto;
}

.stanza5 {
	// border: 2px solid pink;
	transform: translateY(calc(-130% - 1px));
}

// #region STANZA IMAGE WRAPPERS =================================================================================================================================
.stanzaImageWrapper0 {
	background-image: url($imageBaseUrl + "/imageStanza0.jpg");
}

.stanzaImageWrapper1 {
	background-image: url($imageBaseUrl + "/imageStanza01.png");
}

.stanzaImageWrapper2 {
	background-image: url($imageBaseUrl + "/imageStanza02.png");
}

.stanzaImageWrapper3 {
	background-image: url($imageBaseUrl + "/imageStanza03.png");
}

.stanzaImageWrapper4 {
	background-image: url($imageBaseUrl + "/imageStanza04.png");
}

.stanzaImageWrapper5 {
	background-image: url($imageBaseUrl + "/imageStanza05.png");
}

.stanzaImageWrapper6 {
	background-image: url($imageBaseUrl + "/imageStanza06.png");
}

.stanzaImageWrapper7 {
	background-image: url($imageBaseUrl + "/imageStanza07.png");
}

.stanzaImageWrapper8 {
	background-image: url($imageBaseUrl + "/imageStanza08.png");
}

.stanzaImageWrapper9 {
	background-image: url($imageBaseUrl + "/imageStanza09.png");
}
// #endregion =================================================================================================================================

// #region MEDIA QUERIES ===========================================================================================================================

// Mobile Small 320px
@media screen and (max-width: 319px) {
	.storyContainer {
		// border: 4px dashed cyan;
		padding: 0.5em;
	}
	.stanzaImageWrapper {
		height: 40svh;
	}
	.newStanzaWrapper {
		padding: 0.5em;
	}
}

// Mobile Medium 375px
@media screen and (min-width: 320px) {
	.storyContainer {
		// border: 4px dashed limegreen;
		padding: 0.5em;
	}
	.stanzaImageWrapper {
		height: 50svh;
	}
	.stanza {
		padding: 0.4em;
		padding-bottom: 1em;
	}
	.stanza * {
		font-size: 0.8rem;
	}
	.newStanzaWrapper {
		padding: 0.5em;
	}
	.navStoryTitle {
		// color: yellow !important;
		font-size: 1.1rem !important;
	}
}

// Mobile Large 425px
@media screen and (min-width: 425px) {
	.storyContainer {
		// border: 4px dashed cornflowerblue;
	}

	.stanza * {
		font-size: 1rem;
	}
	.stanzaImageWrapper {
		height: 50svh;
	}
}

// Tablet 768px
@media screen and (min-width: 768px) {
	.storyContainer {
		// border: 4px dashed white;
		padding: 3em;
	}

	.stanza * {
		font-size: 1.3rem;
	}
	.stanzaImageWrapper {
		height: 70svh;
	}
}

// Laptop Large 1440px
@media screen and (min-width: 1440px) {
	.storyContainer {
		// border: 6px dotted limegreen;
	}

	.stanza * {
		font-size: 1.6rem;
	}
	.stanzaImageWrapper {
		height: 75svh;
	}
}
// #endregion