@import '/app/styles/variables.module.scss';


.main {
	position: relative;
}

.heroImageWrapper {
	background: url('/images/CelestialSky2.png');
	-webkit-mask-image:url('/images/CelestialSky2.png');
	mask-image:url('/images/CelestialSky2.png');
	background-size:cover;
	background-repeat: no-repeat;
	background-position: bottom center;

	width: 100svw;
	height: 500px;
	filter: brightness(80%);
}

.bkgImage2 {
	position: absolute;
	background-image: url("/images/LabyrinthManModified.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 100svw;
	height: 100svh;
	filter: brightness(9%) saturate(200%);
}

.juicyTitle {
	// border: 3px dashed yellow;
	position: absolute;
	z-index: 99;
	width: 80%;
	right: 1svw;
	max-width: 400px;
}

.test {
	// border: 3px dashed orange;
	position: relative;
}

.quoteSection {
	// border: 3px dashed purple;
	position: relative;
	top: 30svh;
	z-index: 98;
	width: 260px;
	margin: 0 auto;
}

.quote {
	width: 100%;
	margin: 0 auto;
	color: palevioletred;
	font-style: italic;
	text-align: center;
}

.quoteAuthor {
	// border: 2px dotted pink;
	width: 100%;
	color: salmon;
	font-style: normal;
	text-align: center;
	font-size: 1rem;
}

.navSection {
	// border: 3px dashed yellow;
	position: relative;
	margin-top: 3em;
	width: 100%;
	height: 100%;
	text-align: center;


	a {
		color: #40abfd;
		font-weight: 600;
		background-color: rgb(92, 4, 27);
		background: linear-gradient(rgb(92, 4, 27), rgba(2, 22, 44, 0.6));
		padding: 0.5em 1.5em;
		border-radius: 10px;
		transition: color 0.1s ease-in-out;

		&:hover {
			color: white;
			background: linear-gradient(rgb(117, 6, 35), rgba(4, 37, 73, 0.6));
			transition: color 0.1s ease-in-out;
		}
	}
}

// MEDIA QUERIES

// Mobile-Small
@media screen and (min-width: 320px) {
	.quoteSection {
		// border: 2px dotted white;
	}

	.juicyTitle {
		transform: translateY(-6svh);
	}
}

// Mobile-Medium
@media screen and (min-width: 375px) {
	.quoteSection {
		// border: 2px dotted cyan;
		font-size: 1.3rem;
		width: 290px;
	}

	.juicyTitle {
		transform: translateY(-7svh);
	}
}

// Mobile-Large
@media screen and (min-width: 425px) {
	.quoteSection {
		// border: 2px dotted orange;
		width: 330px;
		font-size: 1.5rem;
	}

	.quoteAuthor {
		font-size: 1.2rem;
	}

	.juicyTitle {
		transform: translateY(-8svh);
	}
}

// Tablet (768px)
@media screen and (min-width: 768px) {
	.quoteSection {
		// border: 2px dotted purple;
		width: 500px;
		font-size: 1.5rem;
	}

	.juicyTitle {
		transform: translateY(-10svh);
		max-width: 500px;
	}
}

// Laptop (1024px)
@media screen and (min-width: 1024px) {
	.quoteSection {
		// border: 2px dotted limegreen;
		width: 680px;
		font-size: 2rem;
	}

	.juicyTitle {
		top: 53svh;
		max-width: 540px;
		transform: translateY(-26svh);
	}

	.quoteAuthor {
		font-size: 1.6rem;
	}
}

// Laptop-Large (1440px)
@media screen and (min-width: 1440px) {
	.quoteSection {
		// border: 2px dotted fuchsia;
		width: 800px;
		font-size: 2.3rem;
	}

	.juicyTitle {
		top: 48svh;
		max-width: 800px;
		transform: translateY(-28svh);
	}

	.quoteAuthor {
		font-size: 2rem;
	}
}