.heroImageWrapper {
	background: url('/images/CelestialSky.png');
	background-size: cover;
	background-position: center;
	width: 100vw;
	height: 100vh;
	max-width: 100%;
	position: relative;
	top: -50vh;
}