@import '/app/styles/variables.module.scss';

.beginButtonWrapper {
	// border: 4px solid cyan;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 2em;
}