@import "/app/styles/variables.module.scss";

$disabledBgColor: rgb(47, 47, 47);
$disabledTextColor: gray;

.container {
	border: 2px solid orange;
	width: 100%;
	height: 100%;
	padding: 3em;
}

.header {
	// border: 3px dashed orange;
	padding: 2em 0;
	display: flex;
	flex-direction: column;
}

.temporaryMenuText {
	color: rgb(125, 125, 125);
	font-size: 1.5rem;
}

.chooseExperienceText {
	color: white;
}

.menuList {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	gap: 1em;
}

.menuItem {
	background-color: $storyPageHeaderBgColor;
	transition: all 0.3s ease-in-out;
	border-radius: 3px;
	padding: 0.5em 1.5em;
	width: 100%;
	margin: 0 auto;
	text-align: center;

	&:hover {
		background-color: rgba($storyPageHeaderBgColor, 0.61);
		// transition: background-color 0.3s ease-in-out;
	}
}

.disabledMenuItem {
	background-color: $disabledBgColor;
	color: $disabledTextColor;

	&:hover {
		background-color: $disabledBgColor;
		cursor: default;
	}
}

.homeMenuItem {
	background-color: rgb(26, 23, 76);
	transition: background-color 0.3s ease-in-out;
	margin-top: 1em;
	
	&:hover {
		background-color: rgb(38, 33, 115);
		transition: background-color 0.3s ease-in-out;

	}
}

// #region MEDIA QUERIES

@media screen and (min-width: 320px) {
	.container {
		padding: 1em;
	}
}

// #endregion