@import "/app/styles/variables.module.scss";


.wrapper {
	// border: 2px dotted red;
	width: 100%;
	display: flex;
	justify-content: end;
	position: relative;
	z-index: 2;
	top: -130px;
	float: left;
}

.imageContainer {
	// border: 2px dotted gray;
	clear: right;
	background-image: url('/images/JuicyTalesTitle.png');
	background-size: cover;
	background-repeat: no-repeat;
	width: 400px;
	height: 200px;
}

@media screen and (min-width: 100px) {
	.wrapper {
		// border: 2px dotted white;
	}

	.imageContainer {
		width: 300px;
		height: 100px;
	}
}

@media screen and (min-width: 400px) {
	.wrapper {
		// border: 2px dotted yellow;
	}

	.imageContainer {
		width: 400px;
		height: 200px;
	}
}

@media screen and (min-width: 700px) {
	.wrapper {
		// border: 2px dotted orangered;
	}

	.imageContainer {
		width: 490px;
		height: 290px;
	}
}

@media screen and (min-width: 1000px) {
	.wrapper {
		// border: 2px dotted purple;
	}

	.imageContainer {
		width: 600px;
		height: 320px;
	}
}

@media screen and (min-width: 1300px) {
	.wrapper {
		// border: 2px dotted cyan;
		top: -150px;
	}

	.imageContainer {
		width: 600px;
		height: 350px;
	}
}

@media screen and (min-width: 1600px) {
	.wrapper {
		// border: 4px dotted white;
		top: -200px;
	}

	.imageContainer {
		width: 800px;
		height: 430px;
	}
}